1.	Accept number of rows from end user and print * asterisk on each row. E.g. if input is 5 then

In [ ]:
x = int(input(" Enter the number of rows to print pattern : "))
for i in range(x):
  print( '*')

 Enter the number of rows to print pattern : 5
*
*
*
*
*

2.	Accept number of rows from end user and print following * asterisk pattern ( right angle triangle )

In [ ]:

while True:
  try:
    x = int(input("Enter Number of line to print pattern :"))

    if x==0 or x==1 :
      print(" Incorrect input!   Enter the input greater than 1 ")
    else:
      for i in range(x+1):
        print( '*' * i)
      break
  except ValueError:
        print("\nThis is not a number. Try again...")
        print()5

Enter Number of line to print pattern :hg

This is not a number. Try again...

Enter Number of line to print pattern :5

*
**
***
****
*****

3.	Accept number of rows from end user and print following * asterisk pattern ( inverted right-angle triangle )

In [ ]:
while True:
  try:
    x = int(input("Enter Number of line to print pattern :"))
    print('')
    if x==0 or x==1 :
      print(" Incorrect input!   Enter the input greater than 1 ")
    else:
      i=0
      z=x
      while i < (z+1):
        print( '*' * x)
        i+=1
        x-=1
      break
  except ValueError:
    print("\nThis is not a number. Try again...")
    print()

Enter Number of line to print pattern :7

*******
******
*****
****
***
**
*

4.	Accept number of rows from end user and print following * asterisk pattern ( equilateral triangle )

In [ ]:
while True:
  try:
    x = int(input("Enter Number of line to print pattern :"))
    print('')
    if x==0 or x==1 :
      print(" Incorrect input!   Enter the input greater than 1 ")
    else:
      i=x-1
      j=1
      k=0
      while k < x:
        print(' '*i,'*'*j,' '*i)
        i-=1
        j+=2
        k+=1
      break
  except ValueError:
    print("\nThis is not a number. Try again...")
    print()

Enter Number of line to print pattern :sw

This is not a number. Try again...

Enter Number of line to print pattern :0

 Incorrect input!   Enter the input greater than 1
Enter Number of line to print pattern :1

 Incorrect input!   Enter the input greater than 1
Enter Number of line to print pattern :2

  *
 ***

5.	Accept number of rows from end user and print following * asterisk pattern (( inverted equilateral triangle ))

In [ ]:
while True:
  try:
    x = int(input("Enter Number of line to print pattern :"))
    print('')
    if x==0 or x==1 :
      print(" Incorrect input!   Enter the input greater than 1 ")
    else:
      i=0
      j=(x*2)-1
      k=0
      while k < x:
        print(' '*i,'*'*j,' '*i)
        i+=1
        j-=2
        k+=1
      break
  except ValueError:
    print("\nThis is not a number. Try again...")
    print()

Enter Number of line to print pattern :5

 *********
  *******
   *****
    ***
     *

6.	Accept number of rows from end user and print following * asterisk pattern ( full diamond )

In [ ]:
while True:
  try:
    x = int(input("Enter Number of line to print pattern :"))
    print('')

    if x==1 or x==2 or x==0:
      print("Please enter the number of line greater than 2 ")
    elif x%2==0:
      print("Please enter odd number of line to print")
    else:
      i=x//2
      j=1
      z=0
      while z < ((x//2)+1):
        print(' '*i,'*'*j)
        i-=1
        j+=2
        z+=1
      k=1
      l=(x-2)
      m=0
      while m < x//2:
        print(' '*k,'*'*l)
        k+=1
        l-=2
        m+=1
      break
  except ValueError:
    print("\nThis is not a number. Try again...")
    print()

Enter Number of line to print pattern :8

Please enter odd number of line to print
Enter Number of line to print pattern :9

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

7.	Accept number of rows from end user and print following * asterisk pattern ( half diamond – right )

In [ ]:
while True:
  try:

    x = int(input("Enter Number of line to print pattern :"))
    print('')

    if x==1 or x==2 or x==0:
      print("Please enter the number of line greater than 2 ")
    elif x%2==0:
      print("Please enter odd number of line to print")
    else:
      i=x//2
      j=1
      z=0
      while z < ((x//2+1)):
        print('*'*j,' '*i)
        i-=1
        j+=1
        z+=1
      k=1
      l=(x//2)
      m=0
      while m < x//2:
        print('*'*l,' '*k)
        k+=1
        l-=1
        m+=1
      break
  except ValueError:
    print("\nThis is not a number. Try again...")
    print()

Enter Number of line to print pattern :6

Please enter odd number of line to print
Enter Number of line to print pattern :9

*
**
***
****
*****
****
***
**
*

8.	Accept number of rows from end user and print following * asterisk pattern ( half diamond – left )

In [ ]:
while True:
  try:    
    
    x = int(input("Enter Number of line to print pattern :"))
    print('')

    if x==1 or x==2 or x==0:
      print("Please enter the number of line greater than 2 ")
    elif x%2==0:
      print("Please enter odd number of line to print")
    else:
      i=x//2
      j=1
      z=0
      while z < ((x//2)+1):
        print(' '*i,'*'*j)
        i-=1
        j+=1
        z+=1
      k=1
      l=(x//2)
      m=0
      while m < x//2:
        print(' '*k,'*'*l)
        k+=1
        l-=1
        m+=1
      break
  except ValueError:
    print("\nThis is not a number. Try again...")
    print()

Enter Number of line to print pattern :11

      *
     **
    ***
   ****
  *****
 ******
  *****
   ****
    ***
     **
      *

9.	Accept number of rows and columns form end user and print following pattern e.g. if row = 5 and column = 5 then

In [ ]:
while True:
  try:

    x = int(input("Enter Number of row to print pattern :"))
    y = int(input("Enter Number of column to print pattern :"))
    print('')
    for i in range(x):
      print('*'*y)
    break
  except ValueError:
    print("\nThis is not a number. Try again...")
    print()

Enter Number of row to print pattern :5
Enter Number of column to print pattern :3

***
***
***
***
***

10.	Accept number of rows from end user and print following * asterisk pattern

In [ ]:
while True:
  try:

    x = int(input("Enter Number of line to print pattern :"))
    print('')

    if x==0 or x ==1 or x==2 or x==3:
      print("Enter the number line greater than 2 to print pattern :")
    elif x%2==0:
      print("Enter the odd number of line more than 3 to print pattern")
    else:
      i=0
      j=x
      k=0
      while k < ((x//2)+1):
        print(' '*i,'*'*j,' '*i)
        i+=1
        j-=2
        k+=1
      y=3
      z=(x//2)-1
      p=0
      while p < (x//2):
        print(' '*z,'*'*y,' '*z)
        p+=1
        z-=1
        y+=2
      break
  except ValueError:
    print("\nThis is not a number. Try again...")
    print()

Enter Number of line to print pattern :hg

This is not a number. Try again...

Enter Number of line to print pattern :6

Enter the odd number of line more than 3 to print pattern
Enter Number of line to print pattern :5

 *****
  ***
   *
  ***
 *****

In [ ]:
n=9

In [ ]:
for i in range(1,n+1):
  print(" "*(n-i),'* '*i)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *