1.	Write a program to accept any input from end user and print it.

In [ ]:
user_input = input(" Enter any input : ")
print(user_input)

 Enter any input : shubham69
shubham69

2.	Write a program to accept 10 different strings and convert it into list and print it.

In [ ]:
lst1=[]
for i in range(1,11):
  print(" Enter the input string ",i," : ")
  user_input1= input()
  lst1.append(user_input1)
print('')
print(lst1)

 Enter the input  1  :
xd
 Enter the input  2  :
fcvf
 Enter the input  3  :
re
 Enter the input  4  :

 Enter the input  5  :
fvd
 Enter the input  6  :
sd
 Enter the input  7  :

 Enter the input  8  :
dsfs
 Enter the input  9  :
df
 Enter the input  10  :
y

['xd', 'fcvf', 're', '', 'fvd', 'sd', '', 'dsfs', 'df', 'y']

3.	Write a program to accept 10 different strings and convert it into dictionary and print it.

In [ ]:
dict1={}
i=1
while i < 11:
  print(" Enter the input string ",i," : ",end=' ')
  user_input=input()
  dict1[i]= user_input
  i+=1

print(dict1,end='')

 Enter the input string  1  :  shubham
 Enter the input string  2  :  patil
 Enter the input string  3  :  kolhapur
{1: 'shubham', 2: 'patil', 3: 'kolhapur'}

4.	Write a program to accept 10 different strings and convert it into tuple and print it.

In [ ]:
my_tuple=()
i=1
while i < 11:
  print(" Enter the input string ",i," : ",end=' ')
  user_input2=input()
  y=list(my_tuple)
  y.append(user_input2)
  my_tuple=tuple(y)
  i+=1
print(my_tuple)

 Enter the input string  1  :  df
 Enter the input string  2  :  re
 Enter the input string  3  :  ty
 Enter the input string  4  :  e
 Enter the input string  5  :  54
 Enter the input string  6  :  34
 Enter the input string  7  :  f4
 Enter the input string  8  :  tr4
 Enter the input string  9  :  bg5
 Enter the input string  10  :  t5y
('df', 're', 'ty', 'e', '54', '34', 'f4', 'tr4', 'bg5', 't5y')

5.	Write a Python program to calculate the length of a string.

In [ ]:
user_input3 = input(" Enter the the string : ")
print(" Length of input stirng is : ", len(user_input3))

 Enter the the string : 1237u
 Length of input stirng is :  5

6.	Write a Python program to count the number of characters (character frequency) in a string
Sample String : google.com'

In [ ]:
user_input4 = input(" Enter the the string : ")
x=user_input4.replace(" ","")
my_dic={}
lst2=[]
for i in x:
  lst2.append(i)
n=1
z=0
y=set(lst2)
for i in y:
  n=z
  for j in x:
    if i == j:
      n=n+1
      my_dic[i]= n
      
print(my_dic)

 Enter the the string : abc abc abc xyz
{'b': 3, 'x': 1, 'y': 1, 'c': 3, 'z': 1, 'a': 3}

7.	Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead.
Sample String : 'w3resource'
Expected Result : 'w3ce'
Sample String : 'w3'
Expected Result : 'w3w3'
Sample String : ' w'
Expected Result : Empty String

In [ ]:
user_input5=input(" Enter the string without space : ")
if len(user_input5) == 1 or len(user_input5) == 0 :
  print('Empty String')
elif len(user_input5) == 2:
  print(user_input5 * 2)
else:
  print(user_input5[0:2] + user_input5[-2:])

 Enter the string without space : w3resource
w3ce

8.	Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself.
Sample String : 'restart'
Expected Result : 'resta$t'

In [ ]:
user_input6=input(" Enter the string without space : ")
x=user_input6[0]
result=user_input6.replace(x,"$")
final=result.replace("$",x,1)
print(final)

 Enter the string without space : restart remover
resta$t $emove$

9.	Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.
Sample String : 'abc', 'xyz'
Expected Result : 'xyc abz'

In [ ]:
print(" Enter the two stirng seperated by space :")
user_input7 = list(input().split())
a=user_input7[0]
b=user_input7[1]
c=b[0:2]+a[2:]
d=a[0:2]+b[2:]
print("Output :",c,d)

 Enter the two stirng seperated by space :
abc xyz
Output : xyc abz

10.	Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged.
Sample String : 'abc'
Expected Result : 'abcing'
Sample String : 'string'
Expected Result : 'stringly'

In [ ]:
input1=input(" Enter the string : ")
if len(input1) < 3 :
  print(input1)
else:
  if input1[-3:]== 'ing':
    print(input1+'ly')
  else:
    print(input1+'ing')

 Enter the string : ab
ab

11.	Write a Python program to find the first appearance of the substrings 'not' and 'poor' in a given string. If 'not' follows 'poor', replace the whole 'not'...'poor' substring with 'good'. Return the resulting string. 
Sample String : 'The lyrics is not that poor!'
'The lyrics is poor!'
Expected Result : 'The lyrics is good!'
'The lyrics is poor!'

In [ ]:
input2= 'The lyrics is not poor not poor'
lst=input2.split()
sam=input2.split()
lst2=[]
for i in lst:
  if i == 'not':
    id=lst.index(i)
    lst2.append(id)
    del lst[0:id+1]
    if 'poor' in lst:
      
      id2=sam.index('poor')+1
      lst2.append(id2)
      del sam[lst2[0]:lst2[1]]
      sam.insert(lst2[0],'good')
      for i in sam:
        print(i,end=' ')
  else:
    print('',end='')

The lyrics is good not poor

12.	Write a Python function that takes a list of words and return the longest word and the length of the longest one. 
Sample Output:
Longest word: Exercises
Length of the longest word: 9

In [ ]:
while True:
  try:
    print("Enter the element of list separeted by space : ")
    x= list(input().split())
    listq=[]
    for i in x:
      len_ele=len(i)
      listq.append(len_ele)
    max_ele=max(listq)
    final_list=[]
    for j in x:
      if len(j) == max_ele:
        final_list.append(j)

    print("Longest Word in the List is : ")
    for k in set(final_list):
      print(k,", ", end=' ')
    print('')
    print("Length of Longest Word is : ", max_ele)
    break
  except:
    print("\nThis is Wrong Input....! Try Again")

Enter the element of list separeted by space :
shubham yashwant patil
Longest Word in the List is :
yashwant ,
Length of Longest Word is :  8

13.	Write a Python program to remove the nth index character from a nonempty string.

In [ ]:
while True:
  try:
    st = input(" Enter the Nonempty Stirng : ")
    x= int(input(" Enter the index number to remove character : "))
    if len(st)>0:
      x=x-1
      output= st[0:x]+st[x+1:]
      print("Expected Output : ", output)
      break    
    else:
      print(" You Enter Empty String")
    
  
  except:
    print("\nWrong Input...! Try Again")

 Enter the Nonempty Stirng :
 Enter the index number to remove character : 2
 You Enter Empty String
 Enter the Nonempty Stirng : shuan
 Enter the index number to remove character : sd

Wrong Input...! Try Again
 Enter the Nonempty Stirng : shubham
 Enter the index number to remove character : 1
Expected Output :  hubham

14.	Write a Python program to change a given string to a newly string where the first and last chars have been exchanged.

In [ ]:
while True:
  try:
    x= input(" Enter the String : ")
    newstring= x[-1]+x[1:-1]+x[0]
    print(" Output : ",newstring)
    break
  except:
    print("\nWrong Input...! Try Again")

 Enter the String : shubham
 Output :  mhubhas

15.	Write a Python program to remove characters that have odd index values in a given string.

In [ ]:
while True:
  try:
    x= input(" Enter the String : ")
    for i in range(len(x)):
      if i%2==0:
        print(x[i],end='')
    break
  except:
     print("\nWrong Input...! Try Again")

 Enter the String : shubha mpw
suh p

16.	Write a Python program to count the occurrences of each word in a given sentence.

In [ ]:
print(" Enter the the Sentenance : ")
x= list(input().split())

my_dic={}
lst2=set(x)
n=1
z=0
for i in lst2:
  n=z
  for j in x:
    if i == j:
      n=n+1
      my_dic[i]= n
print(" Count of each word in sentenance :")      
print(my_dic)

 Enter the the Sentenance :
my name is shubham patil also my name crickrt patil
{'is': 1, 'shubham': 1, 'patil': 2, 'my': 2, 'name': 2, 'also': 1, 'crickrt': 1}

17.	Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
x = input(" Enter the input :")
print(" Output in Uppercase :",x.upper())
print(" Output in Lowercase :",x.lower())

 Enter the input :shuBHam PatkIl
 Output in Uppercase : SHUBHAM PATKIL
 Output in Lowercase : shubham patkil

18.	Write a Python program that accepts a comma-separated sequence of words as input and prints the distinct words in sorted form (alphanumerically). 
Sample Words : red, white, black, red, green, black
Expected Result : black, green, red, white,red

In [ ]:
x= (input("Enter the comma-separated sequence of words :"))
col_list=x.split(',')
sorted_list=sorted(col_list)
print("Expected output is :",sorted_list)

Enter the comma-separated sequence of words :red,black,white,green,black
Expected output is : ['black', 'black', 'green', 'red', 'white']

19.	Write a Python function to create an HTML string with tags around the word(s).  
Sample function and result :
add_tags('i', 'Python') -> '<i>Python</i>'
add_tags('b', 'Python Tutorial') -> '<b>Python Tutorial </b>'

In [ ]:
a=input("Enter the string : ")
b=input("Enter the tag : ")
def add_tags(string, tag):
    return f'<{tag}>{string}</{tag}>'

add_tags(a,b)

Enter the string : Python String
Enter the tag : i

'<i>Python String</i>'

20.	Write a Python function to insert a string in the middle of a string.  
Sample function and result :
insert_sting_middle('[[]]<<>>', 'Python') -> [[Python]]
insert_sting_middle('{{}}', 'PHP') -> {{PHP}}

In [ ]:
a= input(" Enter the character : ")
b= input(" Enter the string : ")

def insert_string_middle(char, string):
    middle = len(char) // 2
    return char[:middle] + string + char[middle:]

insert_string_middle(a,b)

 Enter the character : [[]]
 Enter the string : python

'[[python]]'

21.	Write a Python function to get a string made of 4 copies of the last two characters of a specified string (length must be at least 2).  
Sample function and result :
insert_end('Python') -> onononon
insert_end('Exercises') -> eseseses

In [ ]:
x= input("Enter the string :")

def insert_end(x):
  if len(x)>2:
    print(" Expecte Output :")
    print((x[-2:])*4)
  else:
    print(" Length of string is less than 2 ")

insert_end(x)

Enter the string :cat
 Expecte Output :
atatatat

22.	Write a Python function to get a string made of the first three characters of a specified string. If the length of the string is less than 3, return the original string.  
Sample function and result :
first_three('ipy') -> ipy
first_three('python') -> pyt

In [ ]:
x = input(" Enter the string")

def first_3(x):
  if len(x)>3:
    print(x[:3])
  else:
    print(x)
first_3(x)

 Enter the stringipy
ipy

23.	Write a Python program to get the last part of a string before a specified character

In [ ]:
def get_last_part(string, char):
    parts = string.split(char)
    if len(parts)>1:
      print(parts[-2])
    else:
      print(string)

x= input(" enter the string :")
y= input("enter the character : ")
get_last_part(x,y)

 enter the string :www.google.com
enter the character : .
google

24.	Write a Python function to reverse a string if its length is a multiple of 4.

In [ ]:
x= input(" Enter the string : ")
 
def reverse(x):
  if len(x)%4==0:
    print(x[::-1])
  else:
    print(" Input string length is not in multiple of 4 ")

reverse(x)

 Enter the string : asdf asw
wsa fdsa

25.	Write a Python function to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters

In [ ]:
x= input(" Enter the string : ")

def check_upper(x):
  y=x[:4].upper()
  count=0
  for i in (y.split()):
    if i in y:
      count+=1

  if count >= 2:
    print("Output",x.upper()) 
  else:
    print("Stirng is as it is : ",x)
check_upper(x)

 Enter the string : ShubHam
Stirng is as it is :  ShubHam

26.	Write a Python program to sort a string lexicographically.

In [ ]:
x= input(" Enter the string : ")

def lexi(x):
  y=sorted(x)
  print(y)

lexi(x)

 Enter the string : w3SchoolZ
['3', 'S', 'Z', 'c', 'h', 'l', 'o', 'o', 'w']

27.	Write a Python program to remove a newline in Python

In [ ]:
x="my name is shubham\nand i work in ics\nas asd in bangalore"
print(x)

#x= input("Enter the string with newline character : ")
new= x.replace('\n',' ')
print("output :")
print(new)

my name is shubham
and i work in ics
as asd in bangalore
my name is shubham and i work in ics as asd in bangalore

28.	Write a Python program to check whether a string starts with specified characters

In [ ]:
x = input("Enter the string : ")
y= input("Enter the Character : ")
def check(x,y):
  if x[0]==y:
    print(" String start with specified character '",y,"'")
  else:
    print(" String not start with specified character '",y,"'")

check(x,y)

Enter the string : my name is
Enter the Character : m
 String start with specified character ' m '

29.	 Write a Python program to create a Caesar encryption 
Note : In cryptography, a Caesar cipher, also known as Caesar's cipher, the shift cipher, Caesar's code or Caesar shift, is one of the simplest and most widely known encryption techniques. It is a type of substitution cipher in which each letter in the plaintext is replaced by a letter some fixed number of positions down the alphabet. For example, with a left shift of 3, D would be replaced by A, E would become B, and so on. The method is named after Julius Caesar, who used it in his private correspondence.

In [ ]:
import string

lower_alph = []
for i in string.ascii_lowercase:
  lower_alph.append(i)
  
upper_alph = []
for i in string.ascii_uppercase:
  upper_alph.append(i)

while True:
  x= input("Enter the stirng contain a-zA-Z : ")
  key= int(input("Enter the number to left shift : "))
  try:
    for i in x:
      if i in lower_alph and i!= ' ':
        z= lower_alph.index(i)
        print(lower_alph[z-key],end='')
      elif i==' ':
        print(' ',end='')
      else:
        z= upper_alph.index(i)
        print(upper_alph[z-key],end='')
    break

  except:
    print("\nWrong Input....! try again.")

Enter the stirng contain a-zA-Z : dPvA
Enter the number to left shift : 2
bNtY

30.	Write a Python program to display formatted text (width=50) as output

In [ ]:
x = "Rather than building all of its functionality into its core, Python was designed to be highly extensible via modules. This compact modularity has made it particularly popular as a means of adding programmable interfaces to existing applications. Van Rossum's vision of a small core language with a large standard library and easily extensible interpreter stemmed from his frustrations with ABC, which espoused the opposite approach"

def count_width(x):
  for i in range(1,len(x)+1):
    print(x[i-1],end='')
    if i%50==0:
      print('')

count_width(x)

Rather than building all of its functionality into
 its core, Python was designed to be highly extens
ible via modules. This compact modularity has made
 it particularly popular as a means of adding prog
rammable interfaces to existing applications. Van
Rossum's vision of a small core language with a la
rge standard library and easily extensible interpr
eter stemmed from his frustrations with ABC, which
 espoused the opposite approach

31.	Write a Python program to remove existing indentation from all of the lines in a given text

In [ ]:
#x= '''     my name is shubham
#      i am work in ics'''

x= input(" Enter the multiline string with indentation : ")
x_list = x.split("\n")
#print("".join(x_list)
#print(new_string)
for i in x_list:
  print(i.lstrip())

my name is shubham
i am work in ics

32.	Write a Python program to add prefix text to all of the lines in a string.

In [ ]:
x= '''my name is shubham
i am work in ics'''

prefix = input( "Enter the prefix : " )

new_list = x.split("\n")
for i in new_list:
  print(f'{prefix}{i}')

Enter the prefix : \n
\nmy name is shubham
\ni am work in ics

33.	Write a Python program to set the indentation of the first line.

In [ ]:
x="my name is shubham\nand i work in ics\nas asd in bangalore"
print(x)
list_x=x.split('\n')

print(" output :")
for i in range(len(list_x)):
  if i==0:
    print("\t",list_x[i])
  else:
    print(list_x[i])

my name is shubham
and i work in ics
as asd in bangalore
 output :
	 my name is shubham
and i work in ics
as asd in bangalore

34.	Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
while True:  
  try:
    print(" Enter the decimal numbers separated by space :")
    numbers = list(map(float, input().split()))
    for i in numbers:
      if len((str(i).split('.')[1]))>2:
        print(round(i,2))
      else:
        print(f'{i}0')
    break
  except:
    print("\nWrong Input....! Try Again")

 Enter the decimal numbers separated by space :
df

Wrong Input....! Try Again
 Enter the decimal numbers separated by space :
23.4564 23 df

Wrong Input....! Try Again
 Enter the decimal numbers separated by space :
23.456 23 1234.5432 234.1
23.46
23.00
1234.54
234.10

35.	Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
while True:  
  try:
    print(" Enter the decimal numbers separated by space :")
    numbers = list(map(float, input().split()))
    for i in numbers:
      if len((str(i).split('.')[1]))>2 and i > 0:
        z=(round(i,2))
        print(f'+{z}')
      elif len((str(i).split('.'))) and i < 0:
        print(round(i,2))
      else:
        print(f'{i}0')
    break
  except:
    print("\nWrong Input....! Try Again")

 Enter the decimal numbers separated by space :
0.125
+0.12

36.	Write a Python program to print the following positive and negative numbers with no decimal places

In [ ]:
while True:
  try:
    x = (input("Enter the numbers : ")).split()
  
    def integer(x):
      for i in x:
        print(int(float(i)), end='  ')

    integer(x)
    break

  except:
    print("\nInput is not positive or Negative number")

Enter the numbers : gsyh

Input is not positive or Negative number
Enter the numbers : 12
12

37.	Write a Python program to print the following integers with zeros to the left of the specified width

In [ ]:
while True:
  try:

    print("Enter the integers : ")
    x = (input().split())

    y= (int(input(" Enter the width of zeros want to print at left of stirng :")))

    for i in x:
      if int(float(i)) > 0:
        z=0
        while z < y:
          new=(f'0{i}')
          z+=1
          i=new
        print(new)
      else:
        z=0
        d=(i.replace('-',''))
        while z < y:
          new=(f'0{d}')
          z+=1
          d=new
        p=d*(-1)
        print(f'-{d}')
    break

  except:
    print("\nWrong Input...! Try Again.")

Enter the integers :
12 -12 12.56 -12.34
 Enter the width of zeros want to print at left of stirng :5
0000012
-0000012
0000012.56
-0000012.34

38.	Write a Python program to print the following integers with '*' to the right of the specified width

In [ ]:
while True:
  try:

    print("Enter the integers : ")
    x = (input().split())

    y= (int(input(" Enter the width of '*' want to print at left of stirng :")))

    for i in x:
        z=0
        while z < y:
          new=(f'{i}*')
          z+=1
          i=new
        print(new)
    break

  except:
    print("\nWrong Input...! Try Again.")

Enter the integers :
12 -176.2 -19
 Enter the width of '*' want to print at left of stirng :2
12**
-176.2**
-19**

39.	Write a Python program to display a number with a comma separator

In [ ]:
print(" Enter the numbers with space separate")
x= (input().split())

def comma_seperator(x):
  for i in x:
    print(i,end=',')

comma_seperator(x)

 Enter the numbers with space separate
12 34 -12.34 34
12,34,-12.34,34,

40.	Write a Python program to format a number with a percentage

In [ ]:
print(" Enter the numbers with space separate")
x= (input().split())

def percent(x):
  for i in x:
    print(f'{i}%',end='  , ')

percent(x)

 Enter the numbers with space separate
12 -87.23 287
12%  , -87.23%  , 287%  ,