**Q 1**

In [ ]:
print("______________________Number 1 to 100_____________________")
x=10
y=110
j=1
z=11
k=1
while k < z:
  for i in range(x,y,10):
      if j<i:
        print("",j,end='')
        print(' | ',end='')
      elif j==10:
        print(j,end='')
        print(' | ',end='')
      elif j==100:
        print("",j,end='')
        print('|',end='')
      else:
        print("",j,end='')
        print(' | ',end='')
      j+=10
  print(" ")
  k=k+1
  j=k
print("__________________________________________________________")

______________________Number 1 to 100_____________________
 1 |  11 |  21 |  31 |  41 |  51 |  61 |  71 |  81 |  91 |
 2 |  12 |  22 |  32 |  42 |  52 |  62 |  72 |  82 |  92 |
 3 |  13 |  23 |  33 |  43 |  53 |  63 |  73 |  83 |  93 |
 4 |  14 |  24 |  34 |  44 |  54 |  64 |  74 |  84 |  94 |
 5 |  15 |  25 |  35 |  45 |  55 |  65 |  75 |  85 |  95 |
 6 |  16 |  26 |  36 |  46 |  56 |  66 |  76 |  86 |  96 |
 7 |  17 |  27 |  37 |  47 |  57 |  67 |  77 |  87 |  97 |
 8 |  18 |  28 |  38 |  48 |  58 |  68 |  78 |  88 |  98 |
 9 |  19 |  29 |  39 |  49 |  59 |  69 |  79 |  89 |  99 |
10 |  20 |  30 |  40 |  50 |  60 |  70 |  80 |  90 |  100|
__________________________________________________________

**Q 2**

In [ ]:
while True:
  try:
    k=int(input(" Enter the any number :"))
    bx=k
    l=0
    lst=[]

    if k < 100:
      print("Number Tabels from 1  to ",k)
      for i in range(1,11):
        while (i < k+1):
          if i == 10:
            print(i,end='')
            print('| ',end='')
          else:
            print(i,end='')
            print(' | ',end='')
          i=i+10
        print('')
      break

    else:
      for i in range((k//100)+1):
        if k > 100:
          lst.append(100)
          k=k-100
          l=l+100
        else:
          lst.append(k)

      
      lst.pop(0)
      lst.append(0)
      
      def num_table(lx,ly,lz):
        for i in range(lx,ly):
          while(i<=lz):
            print('\t',i,end=" ")
            print("|",end=" ")
            i=i+10
          print("") 
      x=1
      y=11
      z=100
      import math
      for i in range(math.ceil(bx/100)):
        print('')
        print("Numbers Tabel from",x," to ",z,)
        print('')
        num_table(x,y,z)
        x+=100
        y+=100
        z=z+lst[i]
      break

  except:
    print("\nThis is not a number.....!  Try Again")

 Enter the any number :457

Numbers Tabel from 1  to  100

	 1 | 	 11 | 	 21 | 	 31 | 	 41 | 	 51 | 	 61 | 	 71 | 	 81 | 	 91 |
	 2 | 	 12 | 	 22 | 	 32 | 	 42 | 	 52 | 	 62 | 	 72 | 	 82 | 	 92 |
	 3 | 	 13 | 	 23 | 	 33 | 	 43 | 	 53 | 	 63 | 	 73 | 	 83 | 	 93 |
	 4 | 	 14 | 	 24 | 	 34 | 	 44 | 	 54 | 	 64 | 	 74 | 	 84 | 	 94 |
	 5 | 	 15 | 	 25 | 	 35 | 	 45 | 	 55 | 	 65 | 	 75 | 	 85 | 	 95 |
	 6 | 	 16 | 	 26 | 	 36 | 	 46 | 	 56 | 	 66 | 	 76 | 	 86 | 	 96 |
	 7 | 	 17 | 	 27 | 	 37 | 	 47 | 	 57 | 	 67 | 	 77 | 	 87 | 	 97 |
	 8 | 	 18 | 	 28 | 	 38 | 	 48 | 	 58 | 	 68 | 	 78 | 	 88 | 	 98 |
	 9 | 	 19 | 	 29 | 	 39 | 	 49 | 	 59 | 	 69 | 	 79 | 	 89 | 	 99 |
	 10 | 	 20 | 	 30 | 	 40 | 	 50 | 	 60 | 	 70 | 	 80 | 	 90 | 	 100 |

Numbers Tabel from 101  to  200

	 101 | 	 111 | 	 121 | 	 131 | 	 141 | 	 151 | 	 161 | 	 171 | 	 181 | 	 191 |
	 102 | 	 112 | 	 122 | 	 132 | 	 142 | 	 152 | 	 162 | 	 172 | 	 182 | 	 192 |
	 103 | 	 113 | 	 123 | 	 133 | 	 143 | 	 153 | 	 163 | 	 173 | 	 183 | 	 193 |
	 104 | 	 114 | 	 124 | 	 134 | 	 144 | 	 154 | 	 164 | 	 174 | 	 184 | 	 194 |
	 105 | 	 115 | 	 125 | 	 135 | 	 145 | 	 155 | 	 165 | 	 175 | 	 185 | 	 195 |
	 106 | 	 116 | 	 126 | 	 136 | 	 146 | 	 156 | 	 166 | 	 176 | 	 186 | 	 196 |
	 107 | 	 117 | 	 127 | 	 137 | 	 147 | 	 157 | 	 167 | 	 177 | 	 187 | 	 197 |
	 108 | 	 118 | 	 128 | 	 138 | 	 148 | 	 158 | 	 168 | 	 178 | 	 188 | 	 198 |
	 109 | 	 119 | 	 129 | 	 139 | 	 149 | 	 159 | 	 169 | 	 179 | 	 189 | 	 199 |
	 110 | 	 120 | 	 130 | 	 140 | 	 150 | 	 160 | 	 170 | 	 180 | 	 190 | 	 200 |

Numbers Tabel from 201  to  300

	 201 | 	 211 | 	 221 | 	 231 | 	 241 | 	 251 | 	 261 | 	 271 | 	 281 | 	 291 |
	 202 | 	 212 | 	 222 | 	 232 | 	 242 | 	 252 | 	 262 | 	 272 | 	 282 | 	 292 |
	 203 | 	 213 | 	 223 | 	 233 | 	 243 | 	 253 | 	 263 | 	 273 | 	 283 | 	 293 |
	 204 | 	 214 | 	 224 | 	 234 | 	 244 | 	 254 | 	 264 | 	 274 | 	 284 | 	 294 |
	 205 | 	 215 | 	 225 | 	 235 | 	 245 | 	 255 | 	 265 | 	 275 | 	 285 | 	 295 |
	 206 | 	 216 | 	 226 | 	 236 | 	 246 | 	 256 | 	 266 | 	 276 | 	 286 | 	 296 |
	 207 | 	 217 | 	 227 | 	 237 | 	 247 | 	 257 | 	 267 | 	 277 | 	 287 | 	 297 |
	 208 | 	 218 | 	 228 | 	 238 | 	 248 | 	 258 | 	 268 | 	 278 | 	 288 | 	 298 |
	 209 | 	 219 | 	 229 | 	 239 | 	 249 | 	 259 | 	 269 | 	 279 | 	 289 | 	 299 |
	 210 | 	 220 | 	 230 | 	 240 | 	 250 | 	 260 | 	 270 | 	 280 | 	 290 | 	 300 |

Numbers Tabel from 301  to  400

	 301 | 	 311 | 	 321 | 	 331 | 	 341 | 	 351 | 	 361 | 	 371 | 	 381 | 	 391 |
	 302 | 	 312 | 	 322 | 	 332 | 	 342 | 	 352 | 	 362 | 	 372 | 	 382 | 	 392 |
	 303 | 	 313 | 	 323 | 	 333 | 	 343 | 	 353 | 	 363 | 	 373 | 	 383 | 	 393 |
	 304 | 	 314 | 	 324 | 	 334 | 	 344 | 	 354 | 	 364 | 	 374 | 	 384 | 	 394 |
	 305 | 	 315 | 	 325 | 	 335 | 	 345 | 	 355 | 	 365 | 	 375 | 	 385 | 	 395 |
	 306 | 	 316 | 	 326 | 	 336 | 	 346 | 	 356 | 	 366 | 	 376 | 	 386 | 	 396 |
	 307 | 	 317 | 	 327 | 	 337 | 	 347 | 	 357 | 	 367 | 	 377 | 	 387 | 	 397 |
	 308 | 	 318 | 	 328 | 	 338 | 	 348 | 	 358 | 	 368 | 	 378 | 	 388 | 	 398 |
	 309 | 	 319 | 	 329 | 	 339 | 	 349 | 	 359 | 	 369 | 	 379 | 	 389 | 	 399 |
	 310 | 	 320 | 	 330 | 	 340 | 	 350 | 	 360 | 	 370 | 	 380 | 	 390 | 	 400 |

Numbers Tabel from 401  to  457

	 401 | 	 411 | 	 421 | 	 431 | 	 441 | 	 451 |
	 402 | 	 412 | 	 422 | 	 432 | 	 442 | 	 452 |
	 403 | 	 413 | 	 423 | 	 433 | 	 443 | 	 453 |
	 404 | 	 414 | 	 424 | 	 434 | 	 444 | 	 454 |
	 405 | 	 415 | 	 425 | 	 435 | 	 445 | 	 455 |
	 406 | 	 416 | 	 426 | 	 436 | 	 446 | 	 456 |
	 407 | 	 417 | 	 427 | 	 437 | 	 447 | 	 457 |
	 408 | 	 418 | 	 428 | 	 438 | 	 448 |
	 409 | 	 419 | 	 429 | 	 439 | 	 449 |
	 410 | 	 420 | 	 430 | 	 440 | 	 450 |

**Q 3**

In [ ]:
print("______________________Number 1 to 100_____________________")
x=10
y=110
j=1
z=101
k=1
while k < z:
  for i in range(x,y,10):
      if j<10:
        print(" ",j,end='')
        print(' | ',end='')
      elif j==100:
        print("",j,end='')
        print('| ',end='')
      else:
        print("",j,end='')
        print(' | ',end='')
      j+=1
  print(" ")
  k=k+10
  j=k
print("__________________________________________________________")

______________________Number 1 to 100_____________________
  1 |   2 |   3 |   4 |   5 |   6 |   7 |   8 |   9 |  10 |
 11 |  12 |  13 |  14 |  15 |  16 |  17 |  18 |  19 |  20 |
 21 |  22 |  23 |  24 |  25 |  26 |  27 |  28 |  29 |  30 |
 31 |  32 |  33 |  34 |  35 |  36 |  37 |  38 |  39 |  40 |
 41 |  42 |  43 |  44 |  45 |  46 |  47 |  48 |  49 |  50 |
 51 |  52 |  53 |  54 |  55 |  56 |  57 |  58 |  59 |  60 |
 61 |  62 |  63 |  64 |  65 |  66 |  67 |  68 |  69 |  70 |
 71 |  72 |  73 |  74 |  75 |  76 |  77 |  78 |  79 |  80 |
 81 |  82 |  83 |  84 |  85 |  86 |  87 |  88 |  89 |  90 |
 91 |  92 |  93 |  94 |  95 |  96 |  97 |  98 |  99 |  100|
__________________________________________________________

**Q 4**

In [ ]:
print("________________Multiplication Tabel From 11 to 20_________________")
for i in range(1,11):
  print("  ")
  for j in range(11,21):
    if i*j <100:
      print("  ",i*j, end=' ')
      print('|',end='')
    else:
      print("  ",i*j,end='')
      print('|',end='')
print("")
print("_________________________________________________________________")

________________Multiplication Tabel From 11 to 20_________________

   11 |   12 |   13 |   14 |   15 |   16 |   17 |   18 |   19 |   20 |
   22 |   24 |   26 |   28 |   30 |   32 |   34 |   36 |   38 |   40 |
   33 |   36 |   39 |   42 |   45 |   48 |   51 |   54 |   57 |   60 |
   44 |   48 |   52 |   56 |   60 |   64 |   68 |   72 |   76 |   80 |
   55 |   60 |   65 |   70 |   75 |   80 |   85 |   90 |   95 |   100|
   66 |   72 |   78 |   84 |   90 |   96 |   102|   108|   114|   120|
   77 |   84 |   91 |   98 |   105|   112|   119|   126|   133|   140|
   88 |   96 |   104|   112|   120|   128|   136|   144|   152|   160|
   99 |   108|   117|   126|   135|   144|   153|   162|   171|   180|
   110|   120|   130|   140|   150|   160|   170|   180|   190|   200|
_________________________________________________________________

**Q 5**

In [ ]:
print("_________________Multiplication Tabel From 21 to 30___________________")
for i in range(1,11):
  print("  ")
  for j in range(21,31):
    if i*j <100:
      print("  ",i*j, end=' ')
      print('|',end='')
    else:
      print("  ",i*j,end='')
      print('|',end='')
print(" ")
print("_________________________________________________________________________")

_________________Multiplication Tabel From 21 to 30___________________

   21 |   22 |   23 |   24 |   25 |   26 |   27 |   28 |   29 |   30 |
   42 |   44 |   46 |   48 |   50 |   52 |   54 |   56 |   58 |   60 |
   63 |   66 |   69 |   72 |   75 |   78 |   81 |   84 |   87 |   90 |
   84 |   88 |   92 |   96 |   100|   104|   108|   112|   116|   120|
   105|   110|   115|   120|   125|   130|   135|   140|   145|   150|
   126|   132|   138|   144|   150|   156|   162|   168|   174|   180|
   147|   154|   161|   168|   175|   182|   189|   196|   203|   210|
   168|   176|   184|   192|   200|   208|   216|   224|   232|   240|
   189|   198|   207|   216|   225|   234|   243|   252|   261|   270|
   210|   220|   230|   240|   250|   260|   270|   280|   290|   300|
_________________________________________________________________________

Q 6

In [ ]:
while True:
  try:
    x= int(input(" Enter the number from start : "))
    y= int(input(" Enter the number to end :"))

    if x<y:
      print("__________________Multiplication Tabel From ",x," to ",y,"_________________")
      for i in range(1,11):
        print("  ")
        for j in range(x,y+1):
          if i*j <100:
            print("  ",i*j, end=' ')
            print('|',end='')
          else:
            print("  ",i*j,end='')
            print('|',end='')
      print("")

    else:
      print("__________________Multiplication Tabel From ",x," to ",y,"_________________")
      for i in range(1,11):
        print("  ")
        for j in range(x,y-1,-1):
          if i*j <100:
            print("  ",i*j, end=' ')
            print('|',end='')
          else:
            print("  ",i*j,end='')
            print('|',end='')
      print("")
    
    break
  except:
    print("\nThis is not a numbet.....! Try Again ")

 Enter the number from start : 25
 Enter the number to end :21
__________________Multiplication Tabel From  25  to  21 _________________

   25 |   24 |   23 |   22 |   21 |
   50 |   48 |   46 |   44 |   42 |
   75 |   72 |   69 |   66 |   63 |
   100|   96 |   92 |   88 |   84 |
   125|   120|   115|   110|   105|
   150|   144|   138|   132|   126|
   175|   168|   161|   154|   147|
   200|   192|   184|   176|   168|
   225|   216|   207|   198|   189|
   250|   240|   230|   220|   210|